<% include ./partials/header %>

<h1>
	Sign Up!
</h1>

<form action = "/register" method = "POST"> <!-- Its conventional to name this the same as the get route associated with it, /register -->
	<input type = "text" name = "username" placeholder = "username">
	<input type = "password" name = "password" placeholder = "password">
	<button>Sign Up!</button>
</form>

<% include ./partials/footer %>
